@model List<Contract>

@{
    ViewData["Title"] = "Contracts";
}

<h1>Contracts</h1>

@if (User.IsInRole("Advisor") || User.IsInRole("Admin"))
{
    <div class="mb-3">
    <a href="@Url.Action("Create", "Contract")" class="btn btn-primary">Create New Contract</a>
    </div>

}



<div class="search-container">
    <form method="get" asp-controller="Contract" asp-action="Index">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-secondary" type="button" onclick="window.location.href='@Url.Action("Index", "Contract")'">Reset</button>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Contract Number</th>
            <th>Institution</th>
            <th>Manager</th>
            <th>Date Signed</th>
            <th>Valid From</th>
            <th>Valid To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model)
        {
                <tr>
                    <td>@contract.Id</td>
                    <td>@contract.ContractNumber</td>
                    <td>@contract.Institution</td>
                    <td>@contract.ManagerId</td>
                    <td>@contract.DateSigned</td>
                    <td>@contract.ValidFrom</td>
                    <td>@contract.ValidTo</td>

                    <td>
                        <form asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.Id" method="get">
                        <button type="submit" class="btn btn-info">View</button>
                        </form>

                    </td>
                </tr>

        
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <div>
        <a href="@Url.Action("ExportToCsv", "Contracts")" class="btn btn-primary">Export to CSV</a>
    </div>
}